* {
  margin: 0;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.main_container {
  background-color: #1A2330;
  width: 100%;
  margin: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  z-index: -1;
}

.main_container .menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 3em 2em;
}

.main_container .menu .icon {
  width: 20%;
  height: 20%;
  position: relative;
  top: 6px;
}

.main_container .menu .navMenu a {
  text-decoration: none;
  color: #fff;
  font-size: 1em;
  font-weight: lighter;
}

.main_container .get_starter {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-line-pack: distribute;
      align-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.main_container .get_starter .contentImages {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-line-pack: center;
      align-content: center;
}

.main_container .get_starter .contentImages img.files {
  margin: 0 auto;
  z-index: 1;
  width: 60%;
}

.main_container .get_starter .contentImages img.mountain {
  position: absolute;
  top: 0px;
  width: 100%;
  z-index: 0;
}

.main_container .get_starter .getStarterButton {
  height: 2em;
  width: 50%;
  background-color: #4CC1D3;
  background-image: -webkit-gradient(linear, left top, right top, );
  background-image: linear-gradient(to right);
  border: none;
  border-radius: 50px;
  color: #fff;
  margin: 0px auto;
  z-index: 1;
  font-size: 6px;
}

.main_container .get_starter p {
  color: #fff;
  text-align: center;
  font-size: 3em;
  margin-top: 90px;
  line-height: 1.5;
  z-index: 2;
  width: 85%;
}

.main_container .get_starter p.last {
  font-weight: lighter;
  font-size: 2.5em;
}

.main_container .sections {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #191E2B;
  margin-top: 14px;
  padding-top: 50px;
}

.main_container .sections section.iconsSection p {
  text-align: center;
  color: #fff;
}

.main_container .sections section.iconsSection p .center {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
/*# sourceMappingURL=style.css.map */