html {
  font-size: 16px;
}

header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 15px;
  background-color: #1A2330;
}

header .logo img {
  width: 100px;
}

header .navMenu a {
  text-decoration: none;
  color: #fff;
  font-weight: 100;
  font-size: .6em;
  margin-left: 10px;
}

p {
  line-height: 1.7em;
}

* {
  margin: 0;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: #fff;
}

.main_container {
  background-color: #18202B;
}

.main_container .intro {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.main_container .intro .contentImages {
  background-color: #1A2330;
  position: relative;
}

.main_container .intro .contentImages .files {
  position: relative;
  width: 80%;
  z-index: 2;
  margin: 0 auto;
  display: block;
  top: 20px;
}

.main_container .intro .contentImages .mountain {
  position: absolute;
  z-index: 1;
  width: 100%;
  height: 10em;
  bottom: 0;
  margin-bottom: -1px;
}

.main_container .intro .contentImages .title {
  position: relative;
  z-index: 1;
  text-align: center;
  font-size: 1em;
  font-weight: 500;
  line-height: 1.5em;
  top: 0;
  width: 85%;
  margin: 0 auto;
  margin-top: 75px;
}

.main_container .intro .last {
  width: 80%;
  position: relative;
  z-index: 1;
  text-align: center;
  font-size: 0.7em;
  line-height: 1.8em;
  top: 35px;
  clear: both;
  font-weight: 500;
}

.main_container .intro .getStarterButton {
  position: relative;
  height: 3em;
  width: 60%;
  background-color: #4CC1D3;
  background-image: -webkit-gradient(linear, left top, right top, );
  background-image: linear-gradient(to right);
  border: none;
  border-radius: 50px;
  color: #fff;
  margin: -42px auto;
  z-index: 1;
  font-size: 1em;
  padding: 5px;
  top: 115px;
}

.main_container .sections {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 77%;
  position: relative;
  top: 145px;
  margin: 100px auto;
  text-align: center;
}

.main_container .sections .iconsSection {
  margin: 50px 0px 50px 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  line-height: 1.5em;
  font-size: .6em;
}

.main_container .sections .iconsSection .center {
  padding-bottom: 30px;
}

.main_container .sections .iconsSection .center .icon1 {
  max-width: 100%;
  margin: 0 auto;
  display: block;
  width: 25%;
}

.main_container .sections .iconsSection .iconTitle {
  font-size: 1.3em;
  font-weight: 600;
  padding-bottom: 20px;
}

.main_container .sections .iconsSection.bigger {
  margin-top: 180px;
  text-align: left;
}

.main_container .sections .iconsSection.bigger .center.stay {
  margin-bottom: 30px;
}

.main_container .sections .iconsSection.bigger .center.stay .icon2 {
  width: 100%;
}

.main_container .sections .iconsSection.bigger .description {
  margin-bottom: 20px;
}

.main_container .sections .iconsSection.bigger .fyloWorks {
  text-decoration: none;
  color: #61D3CF;
  border-bottom: 3px solid #61D3CF;
  padding-bottom: 10px;
  display: inline;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}

.main_container .sections .iconsSection.bigger .fyloWorks img {
  width: 1.3em;
  line-height: 1.5em;
  vertical-align: bottom;
}

.main_container .comments {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-top: 100px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 80%;
  text-align: left;
  margin: 0 auto;
  font-size: .8rem;
  margin-bottom: 100px;
}

.main_container .comments .comillas {
  max-width: 100%;
  width: 30px;
  -ms-flex-item-align: start;
      -ms-grid-row-align: start;
      align-self: start;
}

.main_container .comments article {
  border: 1px solid #212A3D;
  padding: 25px;
  background-color: #212A3D;
  margin-bottom: 30px;
  border-radius: 8px;
  -webkit-box-shadow: 0 0 20px 7px rgba(0, 0, 0, 0.2);
          box-shadow: 0 0 20px 7px rgba(0, 0, 0, 0.2);
}

.main_container .comments article p {
  margin-bottom: 15px;
  font-size: 0.7em;
}

.main_container .comments article .personInfo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.main_container .comments article .personInfo .avatar img {
  width: 50px;
  height: 50px;
  border-radius: 50px;
}

.main_container .comments article .personInfo .user-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-left: 10px;
  line-height: 17px;
  font-size: .7em;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.main_container .comments article .personInfo .user-info .title {
  font-weight: bolder;
}

.main_container .form {
  margin: 0 auto;
  background-color: #1A2330;
  border: 1px solid #1A2330;
  width: 80%;
  border-radius: 8px;
  padding: 15px;
  -webkit-box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.3);
          box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.3);
  position: relative;
}

.main_container .form form.send {
  text-align: center;
  line-height: 2em;
}

.main_container .form form.send .first {
  font-size: .8em;
  font-weight: 500;
  margin: 20px auto;
}

.main_container .form form.send .second {
  font-size: .6em;
}

.main_container .form form.send .email {
  height: 3.3em;
  width: 80%;
  border-radius: 50px;
  border: none;
  font-size: .5em;
  padding: 6px;
  color: #cecece;
  text-align: center;
  margin-top: 20px;
}

.main_container .form form.send .email::-webkit-input-placeholder {
  color: #cecece;
}

.main_container .form form.send .email:-ms-input-placeholder {
  color: #cecece;
}

.main_container .form form.send .email::-ms-input-placeholder {
  color: #cecece;
}

.main_container .form form.send .email::placeholder {
  color: #cecece;
}

.main_container .form form.send .getStarterButton {
  position: relative;
  height: 3.3em;
  width: 80%;
  background-color: #4CC1D3;
  background-image: -webkit-gradient(linear, left top, right top, );
  background-image: linear-gradient(to right);
  border: none;
  border-radius: 50px;
  color: #fff;
  margin: 25px auto;
  z-index: 1;
  font-size: .7em;
  padding: 5px;
  top: 0px;
}

.foot-desktop {
  display: none;
}

.foot-mobile {
  padding: 35px;
  padding-top: 140px;
  background-color: #0C1524;
  font-size: .7em;
  margin-top: -162px;
}

.foot-mobile .logo_footer img {
  width: 45%;
  margin: 50px auto;
}

.foot-mobile .info-fylo {
  margin: 10px 0 60px 0;
  line-height: 1.7em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.foot-mobile .info-fylo span {
  margin-bottom: 40px;
  -webkit-box-flex: 90%;
      -ms-flex: 90%;
          flex: 90%;
  font-size: 1.2em;
}

.foot-mobile .info-fylo span.icon {
  -webkit-box-flex: 10%;
      -ms-flex: 10%;
          flex: 10%;
}

.foot-mobile .links-left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.foot-mobile .links-left :nth-child(4) {
  margin-bottom: 60px;
}

.foot-mobile .links-left :last-child {
  margin-bottom: 100px;
}

.foot-mobile .links-left a {
  text-decoration: none;
  line-height: 45px;
  cursor: pointer;
}

@media screen and (min-width: 768px) {
  body {
    background-color: #0C1524;
  }
  html {
    font-size: 16px;
    max-width: 1600px;
    margin: 0 auto;
  }
  a {
    text-decoration: none;
  }
  .main_container .intro .contentImages {
    width: 100%;
  }
  .main_container .intro .contentImages .files {
    width: 45%;
    bottom: 0px;
  }
  .main_container .intro .contentImages .mountain {
    height: 15em;
    margin-bottom: 0;
  }
  .main_container .intro .contentImages .title {
    width: 76%;
    font-size: 2em;
    margin-top: 95px;
  }
  .main_container .intro .last {
    font-size: 1em;
    width: 59%;
  }
  .main_container .intro .getStarterButton {
    width: 35%;
  }
  .main_container .sections {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    width: 80%;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .main_container .sections .iconsSection {
    -webkit-box-flex: 50%;
        -ms-flex: 50%;
            flex: 50%;
  }
  .main_container .sections .iconsSection p {
    padding: 0 30px;
  }
  .main_container .sections .iconsSection .iconTitle {
    font-size: 1.8em;
    display: inline-block;
  }
  .main_container .sections .iconsSection .description {
    font-size: 1.2em;
  }
  .main_container .sections .iconsSection.bigger {
    margin: 40px auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .main_container .sections .iconsSection.bigger .center.stay {
    padding: 0px;
    margin-bottom: 30px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .main_container .sections .iconsSection.bigger .content-text {
    -webkit-box-flex: 70%;
        -ms-flex: 70%;
            flex: 70%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .main_container .sections .iconsSection.bigger .content-text .iconTitle {
    font-size: 3em;
  }
  .main_container .sections .iconsSection.bigger .content-text .description {
    font-size: 1.5em;
  }
  .main_container .sections .iconsSection.bigger .content-text .fyloWorks {
    margin-left: 30px;
    font-size: 1.5em;
  }
  .main_container .comments {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    width: 90%;
  }
  .main_container .comments .comillas {
    position: absolute;
  }
  .main_container .comments article {
    width: 25%;
  }
  .main_container .iconsSection {
    width: 60%;
  }
  .main_container .iconsSection.form .send .first {
    font-size: 1.8em;
  }
  .main_container .iconsSection.form .send .second {
    font-size: .9em;
    padding: 0 25px;
  }
  .main_container .iconsSection.form .send .email {
    width: 55%;
    margin-right: 20px;
  }
  .main_container .iconsSection.form .send .getStarterButton {
    width: 23%;
  }
  header {
    padding: 35px;
  }
  header .logo img {
    width: 200px;
  }
  header .navMenu a {
    font-size: 1.1em;
  }
  .foot-mobile {
    display: none;
  }
  .foot-desktop {
    display: block;
    padding: 38px;
    padding-top: 140px;
    background-color: #0C1524;
    font-size: .7em;
    margin-top: -130px;
  }
  .foot-desktop .logo_footer {
    margin: 50px auto;
  }
  .foot-desktop .info-fylo {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin: 0 0 80px 0;
  }
  .foot-desktop .info-fylo .location {
    -webkit-box-flex: 30%;
        -ms-flex: 30%;
            flex: 30%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    font-size: 1.3em;
  }
  .foot-desktop .info-fylo .location .icon {
    margin-right: 20px;
  }
  .foot-desktop .info-fylo .contact-info {
    -webkit-box-flex: 20%;
        -ms-flex: 20%;
            flex: 20%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .foot-desktop .info-fylo .contact-info .icon {
    -webkit-box-flex: 20%;
        -ms-flex: 20%;
            flex: 20%;
  }
  .foot-desktop .info-fylo .contact-info .icon-info {
    -webkit-box-flex: 69%;
        -ms-flex: 69%;
            flex: 69%;
  }
  .foot-desktop .info-fylo .about-us {
    -webkit-box-flex: 15%;
        -ms-flex: 15%;
            flex: 15%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .foot-desktop .info-fylo .contact-us {
    -webkit-box-flex: 15%;
        -ms-flex: 15%;
            flex: 15%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .foot-desktop .info-fylo .social-media {
    -webkit-box-flex: 20%;
        -ms-flex: 20%;
            flex: 20%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
  .foot-desktop .info-fylo .social-media .media-icon img {
    width: 32px;
  }
}
/*# sourceMappingURL=style.css.map */