$color-top: #1A2330;
$color-button: #4CC1D3;
$color-white: #fff;
$color-primary: #18202B;
$color-link: #61D3CF;
$color-bio: #212A3D;
$color-negro: #0C1524;
$color-claro: #cecece;

html{
    font-size: 16px;
}
header {
    display: flex;
    justify-content: space-between;
    padding: 15px;
    background-color: $color-top;
    .logo{
        img{
            width: 100px;
        }
    }
    .navMenu a{
        text-decoration: none;
        color: $color-white;
        font-weight: 100;
        font-size: .6em;
        margin-left: 10px;

    }
}
p{
    line-height: 1.7em;
}

*{
    margin:0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: $color-white;
}


.main_container{
    background-color: $color-primary;
     
    .intro{
        display: flex;
        flex-direction: column;
        align-items: center;
        box-sizing: border-box;
        
        .contentImages{
            background-color: $color-top;
            position: relative;

            .files{
                position: relative;
                width: 80%;
                z-index: 2;
                margin: 0 auto;
                display: block;
                top:20px;
            }

            .mountain{
                position: absolute;
                z-index: 1;
                width: 100%;
                height: 10em;
                bottom: 0;
                margin-bottom: -1px;

            }

            .title{
                position: relative;
                z-index: 1;
                text-align: center;
                font-size:1em ;
                font-weight: 500;
                line-height: 1.5em;
                top: 0;
                width: 85%;
                margin: 0 auto;
                margin-top: 75px;


        

            }
        }

        .last{
            width: 80%;
            position: relative;
            z-index: 1;
            text-align: center;
            font-size: 0.7em;            
            line-height: 1.8em;
            top: 35px;
            clear: both;
            font-weight: 500;
        }

        .getStarterButton{
            position: relative;
            height: 3em;
            width: 60%;
            background-color: $color-button;
            background-image: linear-gradient(to right);
            border:none;
            border-radius: 50px;
            color: $color-white;
            margin: -42px auto;
            z-index: 1;
            font-size: 1em;
            padding: 5px;
            top: 115px;
        }
    }

    .sections{
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 77%;
        position: relative;
        top: 145px;
        margin: 100px auto;
        text-align: center;

        .iconsSection {
            margin: 50px 0px 50px 0px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            line-height: 1.5em;
            font-size: .6em;
                
            .center{
                padding-bottom: 30px;
                .icon1 {
                    max-width: 100%;
                    margin: 0 auto;
                    display: block;
                    width: 25%;
                }
            }
                 
            .iconTitle{
                font-size: 1.3em;
                font-weight: 600;
                padding-bottom: 20px;
            }
            
        &.bigger{
            margin-top: 180px;
            text-align: left;
            .center {
                &.stay{
                    margin-bottom: 30px;

                    .icon2{
                        width: 100%;

                    }
                }
                
            }
            .description{
                margin-bottom: 20px;
            }
            .fyloWorks{
                text-decoration: none;
                color: $color-link;
                border-bottom: 3px solid $color-link;
                padding-bottom: 10px;
                display: inline;
                width: fit-content;
                img{
                    width: 1.3em;
                    line-height: 1.5em;
                    vertical-align: bottom;
                    
                }
            }
        } 

        }
        
    }
    .comments{
            display: flex;
            flex-direction: column;
            padding-top:100px;
            align-items: center;
            width: 80%;
            text-align: left;
            margin: 0 auto;
            font-size: .8rem;
            margin-bottom: 100px;

            .comillas{
                max-width: 100%;
                width: 30px;
                align-self:start;
            
            }
            article{
                border: 1px solid $color-bio;
                padding: 25px;
                background-color: $color-bio;
                margin-bottom: 30px;
                border-radius: 8px;
                p{
                    margin-bottom: 15px;
                    font-size: 0.7em;
                }
                .personInfo{
                    display: flex;
                    .avatar{
                        img{
                            width: 50px;
                            height: 50px;
                            border-radius: 50px;
                        }
                      
                    }
                    .user-info{
                        display: flex;
                        flex-direction: column;
                        margin-left: 10px;
                        line-height: 17px;
                        font-size: .7em;
                        justify-content: center;
                        .title{
                            font-weight: bolder;
                        }

                    }
                }
            }
    }
    .form
    {
        margin: 0 auto;
        background-color: $color-top;
        border:1px solid $color-top; 
        width: 80%;
        border-radius: 8px;
        padding: 15px;
        box-shadow: 0 0 10px 5px rgba(0,0,0,.3);
        position: relative;

        form.send{
            text-align: center;
            line-height: 2em;
            .first{
                font-size: .8em;
                font-weight: 500;
                margin: 20px auto;
            }
            .second{
                font-size: .6em;

            }
            .email{
                height: 3.3em;
                width: 80%;
                border-radius: 50px;
                border:none;
                font-size: .5em;
                padding: 6px;
                color: $color-claro;
                text-align: center;
                margin-top: 20px;
             &::placeholder{
                color: $color-claro;
             }   

            }
            .getStarterButton{
                position: relative;
                height: 3.3em;
                width: 80%;
                background-color: $color-button;
                background-image: linear-gradient(to right);
                border:none;
                border-radius: 50px;
                color: $color-white;
                margin: 25px auto;
                z-index: 1;
                font-size: .7em;
                padding: 5px;
                top: 0px;  
            }
        }
    }
}


footer{
    padding: 35px;
    padding-top: 140px;
    background-color: $color-negro;
    font-size: .7em;
    margin-top: -162px;


    .logo_footer{
        img {
          width: 45%; 
          margin: 50px auto; 
        }
    }
    .info-fylo{
        margin: 10px 0 60px 0;
        line-height: 1.7em;
        display: flex;
        flex-wrap: wrap;
        span {
            margin-bottom: 40px;
            flex: 90%;
            font-size: 1.2em;
            &.icon {
                flex: 10%;
            }
        }
    }
    .links-left{
        display: flex;
        flex-direction: column;
        :nth-child(4){
            margin-bottom: 60px;
        }
        :last-child{
            margin-bottom: 100px;
        }
        a{
            text-decoration: none;
            line-height: 45px;
            cursor: pointer;
        }

    }
}
@media screen and (min-width: 768px){
    html{
        font-size: 24px;
    }
    .main_container{
         
        .intro{
            
            .contentImages{
                width: 100%;
                .files{
                    width: 70%; 
                    bottom: -12px; 
                }
                .mountain{
                    height: 15em;
                    margin-bottom: 0;
                }
    
                .title{
                    width: 76%; 
                    font-size: 2.5em;
                    margin-top: 159px;
                }
            }
    
            .last{
                font-size: 1em;
                width: 59%;
            }
    
            .getStarterButton{
                width: 40%;
            }
        }
    
        .sections{
            flex-direction: row;
            width: 80%;
            justify-content: space-evenly;
             flex-wrap: wrap;

            .iconsSection{
                flex: 50%;
                .center{
                    .icon1{

                    }
                }

                p {
                    padding: 0 30px;
                }

                .iconTitle{
                    font-size: 1.8em;
                    display: inline-block;
                }

                .description{
                    font-size: 1.2em;
                }

                 &.bigger{
         
                    .center{
                        &.stay{
                            .icon2{
                     
                            }
                        }
                    }
                    .iconTitle  {

                    }

                    .description{

                    }

                    .fyloWorks{


                        img{
                    
                        }
                    }
                }
            }
            
        }
        
    }    

    header {
        padding: 50px 35px;
        .logo{
            img{
                width: 300px;
            }
        }
        .navMenu a{
            font-size: 1.5em;

        }
    }
}