body {
  font-size: 18px;
}

p {
  line-height: 1.7em;
}

* {
  margin: 0;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: #fff;
}

.main_container {
  background-color: #18202B;
}

.main_container .intro {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.main_container .intro .contentImages {
  background-color: #1A2330;
  position: relative;
}

.main_container .intro .contentImages .files {
  position: relative;
  width: 80%;
  z-index: 2;
  margin: 0 auto;
  display: block;
  top: 50px;
}

.main_container .intro .contentImages .mountain {
  position: absolute;
  z-index: 1;
  width: 100%;
  height: 10em;
}

.main_container .intro .contentImages .title {
  position: relative;
  z-index: 1;
  text-align: center;
  font-size: 2em;
  font-weight: 500;
  line-height: 1.5em;
  top: 2.5em;
  width: 85%;
  margin: 0 auto;
}

.main_container .intro .last {
  width: 80%;
  position: relative;
  z-index: 1;
  text-align: center;
  font-size: 1.2em;
  font-weight: 500;
  line-height: 1.8em;
  top: 5em;
  clear: both;
}

.main_container .intro .getStarterButton {
  position: relative;
  height: 4em;
  width: 60%;
  background-color: #4CC1D3;
  background-image: -webkit-gradient(linear, left top, right top, );
  background-image: linear-gradient(to right);
  border: none;
  border-radius: 50px;
  color: #fff;
  margin: 30px auto;
  z-index: 1;
  font-size: 1em;
  padding: 5px;
  top: 115px;
}

.main_container .sections {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 77%;
  position: relative;
  top: 145px;
  margin: 100px auto;
  text-align: center;
}

.main_container .sections .iconsSection {
  margin: 50px 0px 50px 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  line-height: 1.5em;
  font-size: 1em;
}

.main_container .sections .iconsSection .center {
  padding-bottom: 30px;
}

.main_container .sections .iconsSection .center .icon1 {
  max-width: 100%;
  margin: 0 auto;
  display: block;
  width: 25%;
}

.main_container .sections .iconsSection .iconTitle {
  font-size: 1.3em;
  font-weight: 600;
  padding-bottom: 20px;
}

.main_container .sections .iconsSection.bigger {
  margin-top: 180px;
  text-align: left;
}

.main_container .sections .iconsSection.bigger .center.stay {
  margin-bottom: 30px;
}

.main_container .sections .iconsSection.bigger .center.stay .icon2 {
  width: 100%;
}

.main_container .sections .iconsSection.bigger .description {
  margin-bottom: 20px;
}

.main_container .sections .iconsSection.bigger .fyloWorks {
  text-decoration: none;
  color: #61D3CF;
  border-bottom: 3px solid #61D3CF;
  padding-bottom: 10px;
  display: inline;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}

.main_container .sections .iconsSection.bigger .fyloWorks img {
  width: 1.3em;
  line-height: 1.5em;
  vertical-align: bottom;
}

.main_container .comments {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-top: 170px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 80%;
  text-align: left;
  margin: 0 auto;
  font-size: .9em;
  margin-bottom: 150px;
}

.main_container .comments .comillas {
  max-width: 100%;
  width: 30px;
  -ms-flex-item-align: start;
      -ms-grid-row-align: start;
      align-self: start;
}

.main_container .comments article {
  border: 1px solid #212A3D;
  padding: 25px;
  background-color: #212A3D;
  margin-bottom: 30px;
  border-radius: 8px;
}

.main_container .comments article p {
  margin-bottom: 15px;
}

.main_container .comments article .personInfo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.main_container .comments article .personInfo .avatar img {
  width: 50px;
  height: 50px;
  border-radius: 50px;
}

.main_container .comments article .personInfo .user-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-left: 10px;
  line-height: 25px;
}

.main_container .comments article .personInfo .user-info .title {
  font-weight: bolder;
}

header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 15px;
  background-color: #1A2330;
}

header .logo img {
  width: 100px;
}

header .navMenu a {
  text-decoration: none;
  color: #fff;
  font-weight: 100;
  font-size: .7em;
  margin-left: 20px;
}

footer {
  padding: 35px;
  background-color: #18202B;
}

footer .logo_footer img {
  width: 45%;
  margin: 50px auto;
}

footer .info-fylo {
  margin: 10px 0 60px 0;
  line-height: 1.7em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

footer .info-fylo span {
  margin-bottom: 40px;
  -webkit-box-flex: 90%;
      -ms-flex: 90%;
          flex: 90%;
  font-size: 1.2em;
}

footer .info-fylo span.icon {
  -webkit-box-flex: 10%;
      -ms-flex: 10%;
          flex: 10%;
}

footer .links-left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

footer .links-left :nth-child(4) {
  margin-bottom: 60px;
}

footer .links-left :last-child {
  margin-bottom: 100px;
}

footer .links-left a {
  text-decoration: none;
  line-height: 45px;
  font-size: 1.3em;
}
/*# sourceMappingURL=style.css.map */